body {
    background-color: #ffffff;
    text-align: center;
  }
  
  button {
    background-color: #000;
    color: #ff0000;
    padding: 10px;
    border: solid 2px #ff0000;
    cursor: pointer;
  }